body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes animation1 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes animation2 {
  0% {background: red;}
  25% {background: green;}
  50% {background: violet;}
  100% {background: orange;}
}

#animation-1 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #2ecc71;
  animation-name: animation1;
  animation-duration: 4s;
}

#animation-2 {
  width: 300px;
  height: 300px;
  animation-name: animation2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  /* animation: animation2 4s ease-in-out 2s infinite; */
  animation-timing-function: ease-in-out;
  background-color: red;
}

@keyframes animation3 {
  0% {bottom:0%; left: 0%;}
  15% {bottom:0%; left: 25%;}
  30% {bottom:25%; left: 25%; background-color: blue;}
  50% {bottom:25%; left: 50%;}
  65% {bottom:50%; left: 50%; background-color: green;}
  80% {bottom:50%; left: 75%;}
  90% {bottom:65%; left: 75%; background-color: yellow;}
  100% {bottom:65%; left: 85%;}
}

#animation-2 {
  width: 300px;
  height: 300px;
  animation: animation3 4s ease-in-out infinite;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  animation-direction: alternate;
}