* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

p, h1, h2, h3, h4 {
    margin: 0.5rem 0;
}

.border {
    border: 4px solid black;
}

/* 

    FLEX BOX

*/

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}


.justify-content-between {
    justify-content: space-between;
}


.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* 
    MARGIN & PADDING
*/

.p-3 {
    padding: 3rem;
}

.w-50 {
    width: 50vw;
}

.text-white {
    color: white;
}

/* 

    HEADER

*/

header {
    height: 60vh;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-position-y: center;
}

#burger_menu {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 5px;
    cursor: pointer;
}

#burger_menu div {
    height: 3px;
    width: 60%;
    background-color: rgba(255,255,255,0.6);
}

#burger_menu div:nth-of-type(2) {
    margin: 0.5rem 0;
}

#header_renting_part{
    height: inherit;
}

#rental_form {
    width: 65vw;
}

#pickup_part {
    width: 80%;
    padding: 0.4rem 0 0.4rem 0.4rem;
    background-color: rgba(189,195,199,0.4);
}
#submit_part {
    width: 20%;
}

#pickup_part select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 100%;
    /* faire disparaitre la flêche par défaut du select */
    -webkit-appearance: none;
    -moz-appearance: none;
}

#pickup_part select, 
#pickup_part input {
    width: 28.33%;
    padding: 0.4rem 0 0.4rem 1rem;
}

#submit_part input {
    width: 100%;
    height: 100%;
    background-color: rgba(70, 157, 70, 0.6);
    color: white;
    border: 0;
}

#pickup_part input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }

#pickup_part input[type="date"]::after {
    width: 20px;
    height: 100%;
    position: absolute;
    background: rgba(189,195,199,1);
    right: 0;
    padding: 17px 0 0 8px;
    content:"\f073";
    font-family: 'FontAwesome';
    top: -8px;
}



/* #pickup_part input[type="date"]::before {
    width: 100%;
    content:attr(placeholder)
} */

#pickup_part select {
    margin: 0 5% 0 0;
}

#pickup_part input:nth-of-type(2) {
    margin: 0 5%;
}

#results {
    width: 65vw;
}

/* 

    SECTION

*/

#results select {
    border: 1px solid rgba(189,195,199, 0.6);
    border-radius: 10%;
    background-color: rgb(240, 242, 243);
    padding: 0.4rem 1rem;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 100%;
    /* faire disparaitre la flêche par défaut du select */
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* 

    ARTICLE

*/

article {
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(127,140,141,0.1);
    padding: 2rem 0;
}

article:last-child {
    border: none;
}

.arrow_left {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
    cursor: pointer;
}

.arrow_right {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    cursor: pointer;
}


.car_details {
    padding-top: 2rem;
}

.car_details a {
    padding: 0.4rem;
    background-color: rgba(70,157,70,1);
    color: white;
    border-radius: 10%;
    border: 0.4mm ridge rgba(0, 0, 0, 0.6);
    width: fit-content;
}


/* 

    FOOTER

*/

footer img {
    height: 100px;
    margin-right: 2rem;
}

footer p {
    margin: 0;
}

/* extra small devices (téléphone): <= 600px */
/* small devices (téléphones et tables portraits: > 600px && <= 767px */
/* medium devices (écran ordinateur + tablettes paysage: > 767px && <= 991px */
/* large larges devices (écran ordinateur: > 992px && <= 1200 */
/* extra large larges devices (écran ordinateur: > 1200 */

/* UNIQUEMENT - Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #rental_form {
        width: 80vw;
    }

    #results {
        width: 100%;
    }

    .w-50 {
        width: 100%;
    }

    #header_renting_part {
        background-position-x: -20% !important;
    }

    .car_details p, .car_details h3 {
        display: none;
    }

    .car_details {
        align-items: flex-end;
    }
    

    article > div {
        width: 50%;
    }

    article img {
        width: 100%;
    }

    #pickup_part {
        width: 100%;
        flex-direction: column;
        padding: 0.4rem;

    }

    #pickup_part input, #pickup_part select {
        width: 100% !important;
    }

    #pickup_part input:nth-of-type(1) {
        margin: 0.4rem 0 !important;
    }

}

/* extra small devices + Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {


}

/* UNIQUEMENT - Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

}

/* JE RÉCUPÈRE TOUT À PARTIR DE 600PX (smartphone+ tablettes + écran moyen... + écran large...) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* UNIQUEMENT - tablettes portraits et paysages */
@media only screen and (max-width: 767px) {

    #rental_form {
        flex-direction: column;
    }

    #pickup_part input:nth-of-type(2) {
        margin: 0;
    }

    #pickup_part input, #pickup_part select {
        margin: 0;
        width: 30%;
    }

    #submit_part {
        width: 100%;
    }

    #submit_part input {
        padding: 0.4rem 1rem;
    }

    #submit_part {
        width: 100%;
    }

    #submit_part input {
        padding: 0.4rem 1rem;
    }

    #pickup_part input:nth-of-type(2) {
        margin: 0;
    }
}

/* UNIQUEMENT - tablettes portraits et paysages */
@media only screen and (min-width: 600px) and (max-width: 767px) {


    #pickup_part {
        width: 100%;
        justify-content: space-around;
        padding: 0.4rem;

    }

    #pickup_part input, #pickup_part select {
        margin: 0;
        width: 30%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}